<img src="img/pandas-logo.png" width="400">

# Pandas

Python pandas is an open-source data manipulation and analysis library designed to simplify data processing. It is particularly well-suited for working with tabular data in data frames, similar to those in spreadsheets. Pandas is an essential tool for data scientists and analysts working in Python.

Here are some key aspects of pandas:

1. Data Structures:
- `Series`: One-dimensional labeled array capable of holding any data type. It is similar to a column in a table.
- `DataFrame`: Two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a database.
2. Data Handling and Manipulation:
- Reading and writing data: Supports a wide range of file formats, including CSV, Excel, SQL and JSON.
- Data cleaning: Tools for handling missing data, duplicate data, and data type conversions.
- Filtering data: Methods to subset rows and columns based on conditions.
- Merging and joining: Functions to combine data from multiple sources, similar to SQL joins.
- Grouping and aggregating: Grouping data for summarization, transformation and aggregation.
3. Data Analysis and Exploration:
- Descriptive statistics and basic data analytics.
- Data visualization integration with libraries like Matplotlib and Seaborn.
4. Performance Optimization:
- Efficient handling of large datasets.
- Vectorized operations that are faster than traditional loops.

In [9]:
%%capture
# capture suppresses the output for this cell (many messages about package installation)
# make sure the required packages are installed
%pip install numpy pandas

# Series

A `Series` is a one-dimensional labeled array capable of holding any data type, but all elements must be of the same type. It is similar to a column in a table or spreadsheet. 

We can create a `Series` from a list, a NumPy array, or a dictionary. Let's see how to create a `Series` from a list.

In [1]:
import pandas as pd
ages = [25, 36, 29, 42]
ages_series = pd.Series(ages, name='ages')  # name is optional; it is used to label the Series
print(f"Series:\n{ages_series}")

Series:
0    25
1    36
2    29
3    42
Name: ages, dtype: int64

You can see how the `Series` is printed with an index on the left and the values on the right. The index is created automatically starting from 0. Also, you can see the data type of the `Series` at the bottom (`dtype: int64`).

We can access indexes and values with the `index` and `values` attributes, respectively. `values` returns a NumPy array with the values of the `Series`.

The type of the elements in the `Series` can be accessed with the `dtype` attribute.

As with NumPy arrays, we can get the shape of the `Series` with the `shape` attribute. By convention, the shape is always a tuple so, for a `Series`, it will only have  one element (the number of values in the `Series`).

We can also get the name of the `Series` with the `name` attribute (`None` if no name was given).

In [2]:
print(f"Indexes: {ages_series.index}")
print(f"Type of indexes: {type(ages_series.index)}")
print(f"Values: {ages_series.values}")
print(f"Type of values: {type(ages_series.values)}")
print(f"Data type: {ages_series.dtype}")
print(f"Shape: {ages_series.shape}")
print(f"Name: {ages_series.name}")

Indexes: RangeIndex(start=0, stop=4, step=1)
Type of indexes: <class 'pandas.core.indexes.range.RangeIndex'>
Values: [25 36 29 42]
Type of values: <class 'numpy.ndarray'>
Data type: int64
Shape: (4,)
Name: ages

`Series` objects provide many methods to aggregate their values such as `sum`, `mean`, `min`, `max`, `std`, `quantile`, `unique` and many more. Let's see some examples.

In [3]:
print(f"Ages sum {ages_series.sum()}, go from {ages_series.min()} to {ages_series.max()} and average {ages_series.mean()}.")
print(f"Ages percentiles: 25%={ages_series.quantile(0.25)}, 50%={ages_series.quantile(0.5)}, 75%={ages_series.quantile(0.75)}.")
import numpy as np
random_ages = pd.Series(np.random.randint(0, 101, 100))  # create a Series with 100 random ages from 0 to 100
print(f"Unique ages: {np.sort(random_ages.unique())}")

Ages sum 132, go from 25 to 42 and average 33.0.
Ages percentiles: 25%=28.0, 50%=32.5, 75%=37.5.
Unique ages: [  2   3   4   5   6   7   9  10  11  12  13  16  17  18  19  21  23  24
  25  27  28  29  31  32  33  34  35  36  38  40  43  44  47  48  49  50
  51  53  54  56  57  58  59  61  62  63  67  68  72  73  76  77  80  81
  83  88  94  97  98  99 100]

# Indexes

We saw that the index of a `Series` is created automatically starting from 0, incrementing by 1. An index is modelled with an instance of the `Index` class (`RangeIndex` implements `Index`).

As with `Series`, we can access the values of the `Index` with the `values` attribute. The type of the `Index` can be accessed with the `dtype` attribute. The `shape` attribute will return a tuple with the number of elements in the `Index`.

In [4]:
print(f"Index values: {ages_series.index.values}")
print(f"Type of index values: {type(ages_series.index.values)}")
print(f"Index data type: {ages_series.index.dtype}")
print(f"Index shape: {ages_series.index.shape}")

Index values: [0 1 2 3]
Type of index values: <class 'numpy.ndarray'>
Index data type: int64
Index shape: (4,)

`Index`es provide versatility in data manipulation. We can create a `Series` with a custom index. We can also create a `Series` selecting particular elements by using an `Index`.

In [5]:
print(f"Value of the first element in series: {ages_series[0]}")
ages_series_custom_index = pd.Series(ages, index=['John', 'Anna', 'Peter', 'Linda'])
print(f"Series with custom index:\n{ages_series_custom_index}")
print(f"Value of 'Anna': {ages_series_custom_index['Anna']}")
even_indexes = [0, 2]
even_seres = ages_series[even_indexes]
print(f"Series with even indexes:\n{even_seres}")

Value of the first element in series: 25
Series with custom index:
John     25
Anna     36
Peter    29
Linda    42
dtype: int64
Value of 'Anna': 36
Series with even indexes:
0    25
2    29
Name: ages, dtype: int64

# DataFrames

The key data structure in Pandas is `DataFrame`. A `DataFrame` is basically a tabular data structure, with rows and columns. Rows have a specific `Index` to access them. Columns are `Series`, so a `Series` is a single column of a DataFrame. A DataFrame can have several columns. Therefore, a `DataFrame` data structure can be seen as a spreadsheet.

## Creating DataFrames from dictionaries

We can create a `DataFrame` from a dictionary, a list of dictionaries, a list of lists, or from a file. Let's see how to create a `DataFrame` from a dictionary.

In [6]:
ages_per_name = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'age': [25, 36, 29, 42],
    'city': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(ages_per_name)
print("DataFrame:")
df  # you must print(df) if you are not using a Jupyter notebook

DataFrame:

    name  age      city
0   John   25  New York
1   Anna   36     Paris
2  Peter   29    Berlin
3  Linda   42    London

The `DataFrame` is a table where each entry in the dictionary is a column or `Series`. The `Index` of each row is created automatically taking the position of its elements inside the entry lists, starting from 0. Most of the time what we will load data from files or databases.

## Basic attributes of DataFrames

Let's see some basic attributes of `DataFrame`s. As in NumPy arrays, we can access the shape of the `DataFrame` with the `shape` attribute.

In [7]:
print(f"Shape: {df.shape}")  # returns a tuple

Shape: (4, 3)

We can check the type of the underlying data with `dtypes` (plural). This attribute will return the data type of each column in the `DataFrame`. The type of the `dtypes` attribute is a `Series` with the column names as indexes and the data types as values.

In [8]:
print(f"Data types:\n{df.dtypes}")
print(f"The type of dtypes is: {type(df.dtypes)}")

Data types:
name    object
age      int64
city    object
dtype: object
The type of dtypes is: <class 'pandas.core.series.Series'>

We can get the values of the whole `DataFrame` with the `values` attribute. This will return a NumPy array with the values of the `DataFrame`. The name of the columns and the indexes are lost, since they are not supported in NumPy arrays.

In [9]:
print(f"Values:\n{df.values}")
print(f"The type of values is: {type(df.values)}")

Values:
[['John' 25 'New York']
 ['Anna' 36 'Paris']
 ['Peter' 29 'Berlin']
 ['Linda' 42 'London']]
The type of values is: <class 'numpy.ndarray'>

We can access the columns and the indexes of the `DataFrame` with the `columns` and `index` attributes, respectively. Both will return an `Index` object.

In [10]:
print(f"Columns: {df.columns}")
print(f"Type of columns: {type(df.columns)}")
print(f"Index: {df.index}")
print(f"Type of index: {type(df.index)}")

Columns: Index(['name', 'age', 'city'], dtype='object')
Type of columns: <class 'pandas.core.indexes.base.Index'>
Index: RangeIndex(start=0, stop=4, step=1)
Type of index: <class 'pandas.core.indexes.range.RangeIndex'>

It is pretty common to create a `DataFrame` from a 2D NumPy array. In this case, we can specify the column names and the index labels. Let's see how to create a `DataFrame` from a 2D NumPy array.

In [11]:
data = df.values  # get the values of the DataFrame as a 2D NumPy array
# create a DataFrame with all the columns and even rows, using the original column names and index labels
df_from_numpy = pd.DataFrame(data[::2, :], columns=df.columns, index=df.index[::2])
print(f"DataFrame from NumPy array, all the columns but only even rows (keeping the index):\n{df_from_numpy}")

DataFrame from NumPy array, all the columns but only even rows (keeping the index):
    name age      city
0   John  25  New York
2  Peter  29    Berlin

## Reading and writing DataFrames

Pandas supports a wide range of file formats, including CSV, Excel, SQL, and JSON. We can read and write data from and to these formats using the `read_` and `to_` functions.
 
Let's see how to read and write a CSV file. We load the file 'data/housing.csv' into a `DataFrame` and then write it to a new CSV file.

In [12]:
df = pd.read_csv('data/housing.csv', header=0, #  the first row is the header (by default)
                 sep=',')  # the separator is a comma (by default)

In [13]:
print(f"DataFrame with shape {df.shape} and columns {df.columns}.")
df.to_csv('data/housing_copy.csv', index=False)  # we don't want to write the index as a column
df  # you must print(df) if you are not using a Jupyter notebook

DataFrame with shape (47439, 41) and columns Index(['Id', 'Address', 'Sold Price', 'Summary', 'Type', 'Year built',
       'Heating', 'Cooling', 'Parking', 'Lot', 'Bedrooms', 'Bathrooms',
       'Full bathrooms', 'Total interior livable area', 'Total spaces',
       'Garage spaces', 'Region', 'Elementary School',
       'Elementary School Score', 'Elementary School Distance',
       'Middle School', 'Middle School Score', 'Middle School Distance',
       'High School', 'High School Score', 'High School Distance', 'Flooring',
       'Heating features', 'Cooling features', 'Appliances included',
       'Laundry features', 'Parking features', 'Tax assessed value',
       'Annual tax amount', 'Listed On', 'Listed Price', 'Last Sold On',
       'Last Sold Price', 'City', 'Zip', 'State'],
      dtype='object').

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
0,0,540 Pine Ln,3825000.0,"540 Pine Ln, Los Altos, CA 94022 is a single f...",SingleFamily,1969.0,"Heating - 2+ Zones, Central Forced Air - Gas","Multi-Zone, Central AC, Whole House / Attic Fan","Garage, Garage - Attached, Covered",1.0,...,"Garage, Garage - Attached, Covered",886486.0,12580.0,2019-10-24,4198000.0,NaN,NaN,Los Altos,94022,CA
1,1,1727 W 67th St,505000.0,"HURRY, HURRY.......Great house 3 bed and 2 bat...",SingleFamily,1926.0,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...","Detached Carport, Garage",4047.0,...,"Detached Carport, Garage",505000.0,6253.0,2019-10-16,525000.0,2019-08-30,328000.0,Los Angeles,90047,CA
2,2,28093 Pine Ave,140000.0,'THE PERFECT CABIN TO FLIP! Strawberry deligh...,SingleFamily,1958.0,Forced air,NaN,0 spaces,9147.0,...,NaN,49627.0,468.0,2019-08-25,180000.0,NaN,NaN,Strawberry,95375,CA
3,3,10750 Braddock Dr,1775000.0,Rare 2-story Gated 5 bedroom Modern Mediterran...,SingleFamily,1947.0,Central,Central Air,"Detached Carport, Driveway, Garage - Two Door",NaN,...,"Detached Carport, Driveway, Garage - Two Door",1775000.0,20787.0,2019-10-24,1895000.0,2016-08-30,1500000.0,Culver City,90230,CA
4,4,7415 O Donovan Rd,1175000.0,Beautiful 200 acre ranch land with several pas...,VacantLand,NaN,NaN,NaN,0 spaces,NaN,...,NaN,NaN,NaN,2019-06-07,1595000.0,2016-06-27,900000.0,Creston,93432,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47434,47434,2409 Florence Blvd,159000.0,"2409 Florence Blvd, Blythe, CA 92225 is a sing...",SingleFamily,1965.0,Central,Central Air,"Carport, Covered",20908.8,...,"Carport, Covered",125049.0,1298.0,2020-09-04,155000.0,NaN,NaN,Blythe,92225,CA
47435,47435,1085 Tasman Dr SPACE 818,255000.0,"LOOK AT THIS PRICE $30k PRICE REDUCTION, USE T...",MobileManufactured,1999.0,"Central Forced Air, Gas",Central AC,Carport,NaN,...,Carport,68924.0,721.0,2020-07-23,295900.0,NaN,NaN,Sunnyvale,94089,CA
47436,47436,1338 N Orange Grove Ave,2300000.0,Beautifully restored historic Colonial Revival...,SingleFamily,1919.0,Central,Central Air,Driveway,6756.0,...,Driveway,578000.0,7211.0,2020-12-01,2295000.0,2015-05-01,2150000.0,Los Angeles,90046,CA
47437,47437,9996 Fan Shell Ln,500000.0,Great opportunity to live in the friendly gate...,SingleFamily,2017.0,Central,Central Air,"Garage, Carport, Garage - Attached, Covered",5945.0,...,"Garage, Carport, Garage - Attached, Covered",484696.0,7627.0,2020-08-01,499888.0,2020-08-24,500000.0,Elk Grove,95757,CA
47438,47438,4552 Howard Ave,760000.0,This fantastic single story home is on a large...,SingleFamily,1948.0,NaN,NaN,Garage - Attached,8250.0,...,Garage - Attached,49671.0,1089.0,2020-11-02,748000.0,NaN,NaN,Los Alamitos,90720,CA

## Viewing DataFrames

We can visualize the first and last rows of a `DataFrame` with the `head` and `tail` methods, respectively. By default, they will return the first and last 5 rows, but we can specify the number of rows to return.

In [14]:
print(f"First 2 rows:\n{df.head(2)}")
print(f"Last 2 rows:\n{df.tail(2)}")

First 2 rows:
   Id         Address  Sold Price  \
0   0     540 Pine Ln   3825000.0
1   1  1727 W 67th St    505000.0

                                             Summary          Type  \
0  540 Pine Ln, Los Altos, CA 94022 is a single f...  SingleFamily
1  HURRY, HURRY.......Great house 3 bed and 2 bat...  SingleFamily

   Year built                                       Heating  \
0      1969.0  Heating - 2+ Zones, Central Forced Air - Gas
1      1926.0                                   Combination

                                             Cooling  \
0    Multi-Zone, Central AC, Whole House / Attic Fan
1  Wall/Window Unit(s), Evaporative Cooling, See ...

                              Parking     Lot  ...  \
0  Garage, Garage - Attached, Covered     1.0  ...
1            Detached Carport, Garage  4047.0  ...

                     Parking features  Tax assessed value  Annual tax amount  \
0  Garage, Garage - Attached, Covered            886486.0            12580.0
1            Detached Carport, Garage            505000.0             6253.0

    Listed On  Listed Price  Last Sold On Last Sold Price         City    Zip  \
0  2019-10-24     4198000.0           NaN             NaN    Los Altos  94022
1  2019-10-16      525000.0    2019-08-30        328000.0  Los Angeles  90047

   State
0     CA
1     CA

[2 rows x 41 columns]
Last 2 rows:
          Id            Address  Sold Price  \
47437  47437  9996 Fan Shell Ln    500000.0
47438  47438    4552 Howard Ave    760000.0

                                                 Summary          Type  \
47437  Great opportunity to live in the friendly gate...  SingleFamily
47438  This fantastic single story home is on a large...  SingleFamily

       Year built  Heating      Cooling  \
47437      2017.0  Central  Central Air
47438      1948.0      NaN          NaN

                                           Parking     Lot  ...  \
47437  Garage, Carport, Garage - Attached, Covered  5945.0  ...
47438                            Garage - Attached  8250.0  ...

                                  Parking features  Tax assessed value  \
47437  Garage, Carport, Garage - Attached, Covered            484696.0
47438                            Garage - Attached             49671.0

       Annual tax amount   Listed On  Listed Price  Last Sold On  \
47437             7627.0  2020-08-01      499888.0    2020-08-24
47438             1089.0  2020-11-02      748000.0           NaN

      Last Sold Price          City    Zip  State
47437        500000.0     Elk Grove  95757     CA
47438             NaN  Los Alamitos  90720     CA

[2 rows x 41 columns]

The `info` method provides a summary of the `DataFrame`, including the number of non-null values in each column and the data type of each column.

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47085 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   46394 non-null  float64
 6   Heating                      40587 non-null  object
 7   Cooling                      26745 non-null  object
 8   Parking                      46065 non-null  object
 9   Lot                          33258 non-null  float64
 10  Bedrooms                     44567 non-null  object
 11  Bathrooms                    43974 non-null  float64
 12  Full bathrooms               39574 non-null  float64
 13  Total interior livable area  44913 non-null  float64
 14  Total spaces                 46523 non-null  float64
 15  Garage spaces                46522 non-null  float64
 16  Region                       47437 non-null  object
 17  Elementary School            42697 non-null  object
 18  Elementary School Score      42543 non-null  float64
 19  Elementary School Distance   42697 non-null  float64
 20  Middle School                30735 non-null  object
 21  Middle School Score          30734 non-null  float64
 22  Middle School Distance       30735 non-null  float64
 23  High School                  42439 non-null  object
 24  High School Score            42220 non-null  float64
 25  High School Distance         42438 non-null  float64
 26  Flooring                     35870 non-null  object
 27  Heating features             39746 non-null  object
 28  Cooling features             25216 non-null  object
 29  Appliances included          33846 non-null  object
 30  Laundry features             32828 non-null  object
 31  Parking features             42664 non-null  object
 32  Tax assessed value           43787 non-null  float64
 33  Annual tax amount            43129 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 29673 non-null  object
 37  Last Sold Price              29673 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 14.8+ MB
None

The `describe` method generates descriptive statistics of the `DataFrame`, including the count, mean, standard deviation, minimum, maximum, and percentiles only of the numerical columns.

In [16]:
df.describe()  # only numerical columns are considered (use print(df.describe()) if you are not using a Jupyter notebook)

,Id,Sold Price,Year built,Lot,Bathrooms,Full bathrooms,Total interior livable area,Total spaces,Garage spaces,Elementary School Score,Elementary School Distance,Middle School Score,Middle School Distance,High School Score,High School Distance,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price,Zip
count,47439.000000,4.743900e+04,46394.000000,3.325800e+04,43974.000000,39574.000000,4.491300e+04,46523.000000,46522.000000,42543.000000,42697.000000,30734.000000,30735.000000,42220.000000,42438.000000,4.378700e+04,43129.000000,4.743900e+04,2.967300e+04,47439.000000
mean,23719.000000,1.296050e+06,1956.634888,2.353383e+05,2.355642,2.094961,5.774587e+03,1.567117,1.491746,5.720824,1.152411,5.317206,1.691593,6.134344,2.410366,7.863118e+05,9956.843817,1.315890e+06,8.078537e+05,93279.178587
std,13694.604047,1.694452e+06,145.802456,1.192507e+07,1.188805,0.963320,8.324363e+05,9.011608,8.964319,2.103350,2.332367,2.002768,2.462879,1.984711,3.596120,1.157796e+06,13884.254976,2.628695e+06,1.177903e+06,2263.459104
min,0.000000,1.005000e+05,0.000000,0.000000e+00,0.000000,1.000000,1.000000e+00,-15.000000,-15.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,85611.000000
25%,11859.500000,5.650000e+05,1946.000000,4.991000e+03,2.000000,2.000000,1.187000e+03,0.000000,0.000000,4.000000,0.300000,4.000000,0.600000,5.000000,0.800000,2.549615e+05,3467.000000,5.745000e+05,3.350000e+05,90220.000000
50%,23719.000000,9.600000e+05,1967.000000,6.502000e+03,2.000000,2.000000,1.566000e+03,1.000000,1.000000,6.000000,0.500000,5.000000,1.000000,6.000000,1.300000,5.475240e+05,7129.000000,9.490000e+05,5.980000e+05,94114.000000
75%,35578.500000,1.525000e+06,1989.000000,1.045400e+04,3.000000,2.000000,2.142000e+03,2.000000,2.000000,7.000000,1.000000,7.000000,1.800000,8.000000,2.400000,9.371625e+05,12010.000000,1.498844e+06,9.500000e+05,95073.000000
max,47438.000000,9.000000e+07,9999.000000,1.897474e+09,24.000000,17.000000,1.764164e+08,1000.000000,1000.000000,10.000000,57.200000,9.000000,57.200000,10.000000,73.900000,4.590000e+07,552485.000000,4.025320e+08,9.000000e+07,96155.000000

## Indexing and selecting data

We use `[ ]`  to select a subset of data from a `DataFrame`. The subset can be specified in several ways. If we want to select only one column from a DataFrame, we only need to put its name between the square brackets. The result will be a `Series` since only one column is retrieved. If we want to select multiple columns, we need to pass a list of column names. The result will be a `DataFrame` with the selected columns.

In [17]:
print(f"Column 'Sold Price':\n{df['Sold Price']}")
print(f"Columns 'Sold Price' and 'City':\n{df[['Sold Price', 'City']]}")  # notice the double square brackets (you are passing a list)

Column 'Sold Price':
0        3825000.0
1         505000.0
2         140000.0
3        1775000.0
4        1175000.0
           ...
47434     159000.0
47435     255000.0
47436    2300000.0
47437     500000.0
47438     760000.0
Name: Sold Price, Length: 47439, dtype: float64
Columns 'Sold Price' and 'City':
       Sold Price          City
0       3825000.0     Los Altos
1        505000.0   Los Angeles
2        140000.0    Strawberry
3       1775000.0   Culver City
4       1175000.0       Creston
...           ...           ...
47434    159000.0        Blythe
47435    255000.0     Sunnyvale
47436   2300000.0   Los Angeles
47437    500000.0     Elk Grove
47438    760000.0  Los Alamitos

[47439 rows x 2 columns]

With `Series`, we can get the *i*-th element with a position-based index. If multiple elements are selected, the result will be a `Series`.

In [18]:
prices_series = df['Sold Price']
print(f"Value of the first house: {prices_series[0]}")
print(f"Values of the last 3 houses:\n{prices_series[-3:]}")

Value of the first house: 3825000.0
Values of the last 3 houses:
47436    2300000.0
47437     500000.0
47438     760000.0
Name: Sold Price, dtype: float64

We can use all the slicing operations that we saw in NumPy arrays. *Important*: in this case, the position of the element is used to select the rows (not the index). Notice that the original indexes are kept, so we can use them to access the original rows.

In [19]:
sorted_df_by_price = df.sort_values(by='Sold Price')
print(f"Value of the cheapest house:\n{sorted_df_by_price['Sold Price'][0]}")
print(f"Value of the most expensive house:\n{sorted_df_by_price['Sold Price'].values[-1]}")
print(f"First 3 cheapest houses (check out their indexes and the original indexes):\n{sorted_df_by_price['Sold Price'][:3]}")

Value of the cheapest house:
3825000.0
Value of the most expensive house:
90000000.0
First 3 cheapest houses (check out their indexes and the original indexes):
10882    100500.0
9214     101000.0
9377     102000.0
Name: Sold Price, dtype: float64

We must tell position slicing (previous code) from index slicing. If we want to select rows by their index, we use the `loc` attribute. We can use the index directly or a list of indexes. *Notice*, since `loc` is for label/index indexing, the last index is included in the selection (e.g., `[1:10]` represents label 1 up to 10, both included).

On the contrary, if we want to select rows by their position (integer), we use the `iloc` attribute (integer location). *Notice*, since `iloc` is for position indexing, the last index is not included in the selection (e.g., `[1:10]` represents position 1 up to 9).

By combining `loc` and `iloc`, we can select rows by index and position at the same time. This allows us to avoid cloning the `DataFrame` everytime we reorder of the dataset (very important for huge datasets).

In [20]:
print(f"First two houses in the dataset:\n{df.loc[:1][['Id', 'Sold Price', 'City']]}")  # Notice that the last index (1) is included
number_of_houses = df.shape[0]
# A comma can be used to select columns: df.loc[rows, columns] == df.loc[rows][columns]
print(f"Last two houses in the dataset:\n{df.loc[number_of_houses-2:number_of_houses-1, ['Id', 'Sold Price', 'City']]}")  

print(f"Two cheapest houses in the dataset:\n{sorted_df_by_price.iloc[:2][['Id', 'Sold Price', 'City']]}")
print(f"Two most expensive houses in the dataset:\n{sorted_df_by_price.iloc[-2:][['Id', 'Sold Price', 'City']]}")

First two houses in the dataset:
   Id  Sold Price         City
0   0   3825000.0    Los Altos
1   1    505000.0  Los Angeles
Last two houses in the dataset:
          Id  Sold Price          City
47437  47437    500000.0     Elk Grove
47438  47438    760000.0  Los Alamitos
Two cheapest houses in the dataset:
          Id  Sold Price        City
10882  10882    100500.0  Calipatria
9214    9214    101000.0    San Jose
Two most expensive houses in the dataset:
          Id  Sold Price         City
3674    3674  60000000.0  Los Angeles
43398  43398  90000000.0       Rialto

## Filtering data

As in NumPy, we can filter data in a `DataFrame` based on conditions. We use the square brackets `[ ]` to specify the condition. The result will be a `Series` with boolean values indicating whether the condition is met or not (`True` or `False`). We can use this `Series` to filter the `DataFrame`.

In [21]:
houses_cheaper_than_1M = df['Sold Price'] < 1e6
print(f"Shape of the condition for houses cheaper than 1M: {houses_cheaper_than_1M.shape}")
print(f"First 5 condition values for houses cheaper than 1M:\n{houses_cheaper_than_1M.head(5)}")
print(f"\nType of the condition for houses cheaper than 1M: {type(houses_cheaper_than_1M)}")
print(f"First 5 houses cheaper than 1M:\n{df[houses_cheaper_than_1M][['Id', 'Sold Price', 'City']].head(5)}")
print(f"Last 5 houses cheaper than 1M:\n{df[df['Sold Price'] < 1e6][['Id', 'Sold Price', 'City']].tail(5)}")  # Notice the nested square brackets

Shape of the condition for houses cheaper than 1M: (47439,)
First 5 condition values for houses cheaper than 1M:
0    False
1     True
2     True
3    False
4    False
Name: Sold Price, dtype: bool

Type of the condition for houses cheaper than 1M: <class 'pandas.core.series.Series'>
First 5 houses cheaper than 1M:
    Id  Sold Price          City
1    1    505000.0   Los Angeles
2    2    140000.0    Strawberry
5    5    221000.0      Stockton
7    7    480000.0  Taylorsville
11  11    810000.0      San Jose
Last 5 houses cheaper than 1M:
          Id  Sold Price          City
47433  47433    165000.0        Fresno
47434  47434    159000.0        Blythe
47435  47435    255000.0     Sunnyvale
47437  47437    500000.0     Elk Grove
47438  47438    760000.0  Los Alamitos

If you want to apply boolean operations, you must use the bitwise operators: `&` for `and`, `|` for `or`, and `~` for `not`. Be aware of the operator precedence (use parentheses to separate the conditions when necessary).

In [22]:
houses_in_fresno_and_cheaper_than_1M = (df['City'] == 'Fresno') & (df['Sold Price'] < 1e6)
print(f"First 5 houses in Fresno and cheaper than 1M:\n{df[houses_in_fresno_and_cheaper_than_1M][['Id', 'Sold Price', 'City']].head(5)}")

First 5 houses in Fresno and cheaper than 1M:
        Id  Sold Price    City
3935  3935    240000.0  Fresno
8878  8878    190000.0  Fresno
8936  8936    175000.0  Fresno
9211  9211    295000.0  Fresno
9761  9761    255000.0  Fresno

We can also filter data using lambda expressions or functions. We use the `apply` method to apply the function to each row or column. The function must return a boolean value.

In [23]:
houses_in_cities_starting_with_n = df['City'].apply(lambda city: city.upper()[0] == 'C')
print(f"First 5 houses in cities starting with 'C':\n{df[houses_in_cities_starting_with_n][['Id', 'Sold Price', 'City']].head(5)}")

First 5 houses in cities starting with 'C':
    Id  Sold Price         City
3    3   1775000.0  Culver City
4    4   1175000.0      Creston
19  19    415000.0      Compton
20  20    335000.0      Compton
22  22    360000.0     Carlotta

Treating missing values is a common task in data analysis. Pandas provides the `isnull` method to detect missing values. `isnull` of another `Series` returns a `Series` with boolean values indicating whether the value is missing (`True`) or not (`False`). We can use this `Series` to filter the `DataFrame`. `isnull` of a `DataFrame` returns a `DataFrame` with boolean values indicating whether the value is missing.

In [24]:
# Find missing values in df
missing_values_in_cooling = df['Cooling'].isnull()  # returns a Series with boolean values
print(f"Number of missing values in the 'Cooling' column: {len(df[missing_values_in_cooling])}")
print(f"First 5 houses with missing values in the 'Cooling' column:\n{df[missing_values_in_cooling][['Id', 'Cooling']].head(5)}")
all_missing_values = df.isnull()  # returns a DataFrame with boolean values
print(f"Samples with missing values in the dataset: {len(all_missing_values)}")
# Sum all the rows and then the columns. 
# In Python, booleans can be sum: True is 1 and False is 0. 
print(f"Number of missing values in the dataset: {all_missing_values.sum().sum()}")

Number of missing values in the 'Cooling' column: 20694
First 5 houses with missing values in the 'Cooling' column:
    Id Cooling
2    2     NaN
4    4     NaN
8    8     NaN
9    9     NaN
12  12     NaN
Samples with missing values in the dataset: 47439
Number of missing values in the dataset: 260734

# âœ¨ Activity âœ¨

As mentioned, treating missing values is an important task in data science. Set all the missing values in the dataset to the average value of the column if the type is numeric. Otherwise, set it to the mode value. Hint: you may want to take a look at the `fillna` method of the `DataFrame` and `Series` classes.

In [25]:
# Write your code here

# SOLUTION:
def fill_missing_values(df_p: pd.DataFrame):
    for column_name in df_p.columns:
        if df_p[column_name].isnull().sum() > 0:
            column_type_name = str(df_p[column_name].dtype)
            if column_type_name.startswith('int') or  column_type_name.startswith('float')  or column_type_name.startswith('complex') :
                mean_value = df_p[column_name].mean()
                df_p[column_name].fillna(mean_value, inplace=True)
            else:
                # get the mode of the column
                mode_value = df_p[column_name].mode().values[0]
                df_p[column_name].fillna(mode_value, inplace=True)

print(f"DataFrame with missing values: \n{df.info()}")
from IPython.display import display  # to display multiple outputs in IPython (Jupyter Notebook)
display(df.describe())  # use print(df.describe()) if you are not using a Jupyter notebook
fill_missing_values(df)
print(f"DataFrame without missing values: \n{df.info()}")
df.describe()  # use print(df.describe()) if you are not using a Jupyter notebook

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47085 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   46394 non-null  float64
 6   Heating                      40587 non-null  object
 7   Cooling                      26745 non-null  object
 8   Parking                      46065 non-null  object
 9   Lot                          33258 non-null  float64
 10  Bedrooms                     44567 non-null  object
 11  Bathrooms                    43974 non-null  float64
 12  Full bathrooms               39574 non-null  float64
 13  Total interior livable area  44913 non-null  float64
 14  Total spaces                 46523 non-null  float64
 15  Garage spaces                46522 non-null  float64
 16  Region                       47437 non-null  object
 17  Elementary School            42697 non-null  object
 18  Elementary School Score      42543 non-null  float64
 19  Elementary School Distance   42697 non-null  float64
 20  Middle School                30735 non-null  object
 21  Middle School Score          30734 non-null  float64
 22  Middle School Distance       30735 non-null  float64
 23  High School                  42439 non-null  object
 24  High School Score            42220 non-null  float64
 25  High School Distance         42438 non-null  float64
 26  Flooring                     35870 non-null  object
 27  Heating features             39746 non-null  object
 28  Cooling features             25216 non-null  object
 29  Appliances included          33846 non-null  object
 30  Laundry features             32828 non-null  object
 31  Parking features             42664 non-null  object
 32  Tax assessed value           43787 non-null  float64
 33  Annual tax amount            43129 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 29673 non-null  object
 37  Last Sold Price              29673 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 14.8+ MB
DataFrame with missing values:
None

,Id,Sold Price,Year built,Lot,Bathrooms,Full bathrooms,Total interior livable area,Total spaces,Garage spaces,Elementary School Score,Elementary School Distance,Middle School Score,Middle School Distance,High School Score,High School Distance,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price,Zip
count,47439.000000,4.743900e+04,46394.000000,3.325800e+04,43974.000000,39574.000000,4.491300e+04,46523.000000,46522.000000,42543.000000,42697.000000,30734.000000,30735.000000,42220.000000,42438.000000,4.378700e+04,43129.000000,4.743900e+04,2.967300e+04,47439.000000
mean,23719.000000,1.296050e+06,1956.634888,2.353383e+05,2.355642,2.094961,5.774587e+03,1.567117,1.491746,5.720824,1.152411,5.317206,1.691593,6.134344,2.410366,7.863118e+05,9956.843817,1.315890e+06,8.078537e+05,93279.178587
std,13694.604047,1.694452e+06,145.802456,1.192507e+07,1.188805,0.963320,8.324363e+05,9.011608,8.964319,2.103350,2.332367,2.002768,2.462879,1.984711,3.596120,1.157796e+06,13884.254976,2.628695e+06,1.177903e+06,2263.459104
min,0.000000,1.005000e+05,0.000000,0.000000e+00,0.000000,1.000000,1.000000e+00,-15.000000,-15.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,85611.000000
25%,11859.500000,5.650000e+05,1946.000000,4.991000e+03,2.000000,2.000000,1.187000e+03,0.000000,0.000000,4.000000,0.300000,4.000000,0.600000,5.000000,0.800000,2.549615e+05,3467.000000,5.745000e+05,3.350000e+05,90220.000000
50%,23719.000000,9.600000e+05,1967.000000,6.502000e+03,2.000000,2.000000,1.566000e+03,1.000000,1.000000,6.000000,0.500000,5.000000,1.000000,6.000000,1.300000,5.475240e+05,7129.000000,9.490000e+05,5.980000e+05,94114.000000
75%,35578.500000,1.525000e+06,1989.000000,1.045400e+04,3.000000,2.000000,2.142000e+03,2.000000,2.000000,7.000000,1.000000,7.000000,1.800000,8.000000,2.400000,9.371625e+05,12010.000000,1.498844e+06,9.500000e+05,95073.000000
max,47438.000000,9.000000e+07,9999.000000,1.897474e+09,24.000000,17.000000,1.764164e+08,1000.000000,1000.000000,10.000000,57.200000,9.000000,57.200000,10.000000,73.900000,4.590000e+07,552485.000000,4.025320e+08,9.000000e+07,96155.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47439 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   47439 non-null  float64
 6   Heating                      47439 non-null  object
 7   Cooling                      47439 non-null  object
 8   Parking                      47439 non-null  object
 9   Lot                          47439 non-null  float64
 10  Bedrooms                     47439 non-null  object
 11  Bathrooms                    47439 non-null  float64
 12  Full bathrooms               47439 non-null  float64
 13  Total interior livable area  47439 non-null  float64
 14  Total spaces                 47439 non-null  float64
 15  Garage spaces                47439 non-null  float64
 16  Region                       47439 non-null  object
 17  Elementary School            47439 non-null  object
 18  Elementary School Score      47439 non-null  float64
 19  Elementary School Distance   47439 non-null  float64
 20  Middle School                47439 non-null  object
 21  Middle School Score          47439 non-null  float64
 22  Middle School Distance       47439 non-null  float64
 23  High School                  47439 non-null  object
 24  High School Score            47439 non-null  float64
 25  High School Distance         47439 non-null  float64
 26  Flooring                     47439 non-null  object
 27  Heating features             47439 non-null  object
 28  Cooling features             47439 non-null  object
 29  Appliances included          47439 non-null  object
 30  Laundry features             47439 non-null  object
 31  Parking features             47439 non-null  object
 32  Tax assessed value           47439 non-null  float64
 33  Annual tax amount            47439 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 47439 non-null  object
 37  Last Sold Price              47439 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 14.8+ MB
DataFrame without missing values:
None

,Id,Sold Price,Year built,Lot,Bathrooms,Full bathrooms,Total interior livable area,Total spaces,Garage spaces,Elementary School Score,Elementary School Distance,Middle School Score,Middle School Distance,High School Score,High School Distance,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price,Zip
count,47439.000000,4.743900e+04,47439.000000,4.743900e+04,47439.000000,47439.000000,4.743900e+04,47439.000000,47439.000000,47439.000000,47439.000000,47439.000000,47439.000000,47439.000000,47439.000000,4.743900e+04,47439.000000,4.743900e+04,4.743900e+04,47439.000000
mean,23719.000000,1.296050e+06,1956.634888,2.353383e+05,2.355642,2.094961,5.774587e+03,1.567117,1.491746,5.720824,1.152411,5.317206,1.691593,6.134344,2.410366,7.863118e+05,9956.843817,1.315890e+06,8.078537e+05,93279.178587
std,13694.604047,1.694452e+06,144.187590,9.984801e+06,1.144565,0.879846,8.099701e+05,8.924180,8.877253,1.991853,2.212724,1.612019,1.982392,1.872355,3.401287,1.112337e+06,13238.508379,2.628695e+06,9.315789e+05,2263.459104
min,0.000000,1.005000e+05,0.000000,0.000000e+00,0.000000,1.000000,1.000000e+00,-15.000000,-15.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,85611.000000
25%,11859.500000,5.650000e+05,1947.000000,5.662800e+03,2.000000,2.000000,1.204000e+03,0.000000,0.000000,4.000000,0.300000,5.000000,0.800000,5.000000,0.800000,2.777160e+05,3820.000000,5.745000e+05,4.850000e+05,90220.000000
50%,23719.000000,9.600000e+05,1966.000000,9.378000e+03,2.000000,2.000000,1.615000e+03,1.000000,1.000000,5.720824,0.600000,5.317206,1.691593,6.134344,1.500000,6.060000e+05,7991.000000,9.490000e+05,8.078537e+05,94114.000000
75%,35578.500000,1.525000e+06,1989.000000,2.353383e+05,3.000000,2.094961,2.292000e+03,2.000000,2.000000,7.000000,1.152411,6.000000,1.691593,7.000000,2.410366,8.975330e+05,11392.500000,1.498844e+06,8.078537e+05,95073.000000
max,47438.000000,9.000000e+07,9999.000000,1.897474e+09,24.000000,17.000000,1.764164e+08,1000.000000,1000.000000,10.000000,57.200000,9.000000,57.200000,10.000000,73.900000,4.590000e+07,552485.000000,4.025320e+08,9.000000e+07,96155.000000

## Adding new data

If we assign a value to a column that does not exist, a new column will be created. All the rows will have the same value. This is called broadcasting.

In [26]:
df['Sold'] = True  # create a new column with all the values set to True
print(f"DataFrame with the new column 'Sold':\n{df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47439 entries, 0 to 47438
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           47439 non-null  int64
 1   Address                      47439 non-null  object
 2   Sold Price                   47439 non-null  float64
 3   Summary                      47439 non-null  object
 4   Type                         47439 non-null  object
 5   Year built                   47439 non-null  float64
 6   Heating                      47439 non-null  object
 7   Cooling                      47439 non-null  object
 8   Parking                      47439 non-null  object
 9   Lot                          47439 non-null  float64
 10  Bedrooms                     47439 non-null  object
 11  Bathrooms                    47439 non-null  float64
 12  Full bathrooms               47439 non-null  float64
 13  Total interior livable area  47439 non-null  float64
 14  Total spaces                 47439 non-null  float64
 15  Garage spaces                47439 non-null  float64
 16  Region                       47439 non-null  object
 17  Elementary School            47439 non-null  object
 18  Elementary School Score      47439 non-null  float64
 19  Elementary School Distance   47439 non-null  float64
 20  Middle School                47439 non-null  object
 21  Middle School Score          47439 non-null  float64
 22  Middle School Distance       47439 non-null  float64
 23  High School                  47439 non-null  object
 24  High School Score            47439 non-null  float64
 25  High School Distance         47439 non-null  float64
 26  Flooring                     47439 non-null  object
 27  Heating features             47439 non-null  object
 28  Cooling features             47439 non-null  object
 29  Appliances included          47439 non-null  object
 30  Laundry features             47439 non-null  object
 31  Parking features             47439 non-null  object
 32  Tax assessed value           47439 non-null  float64
 33  Annual tax amount            47439 non-null  float64
 34  Listed On                    47439 non-null  object
 35  Listed Price                 47439 non-null  float64
 36  Last Sold On                 47439 non-null  object
 37  Last Sold Price              47439 non-null  float64
 38  City                         47439 non-null  object
 39  Zip                          47439 non-null  int64
 40  State                        47439 non-null  object
 41  Sold                         47439 non-null  bool
dtypes: bool(1), float64(18), int64(2), object(21)
memory usage: 14.9+ MB
DataFrame with the new column 'Sold':
None

We can add a new column with different values for each row by setting a `Series` as the value of the new column. The `Series` must have the same length as the `DataFrame`. Remember how powerful the `apply` method is. We can use it to create a new column based on the values of other columns.

In [27]:
# create a new column indicating whether the 'Sold Price' is lower than the average and the 'City' is 'Fresno'
df['Cheap House in Fresno'] = (df['Sold Price'] < df['Sold Price'].mean()) & (df['City'] == 'Fresno')
print(f"Number of cheap houses in Fresno: {df['Cheap House in Fresno'].sum()}.")
# there are many different types of flooring, some of the contain the word 'laminate'
print(f"Number of unique values of the 'Flooring' column: {len(df['Flooring'].unique())}.")
print(f"Number houses containing 'Laminate' in the 'Flooring' column: "
      f"{len([flooring for flooring in df['Flooring'].unique() if 'laminate' in flooring.lower()])}.")
# potentially, those houses with laminate flooring and annual tax amount below 10,000 USD could be increased in 10%
df['Increased Price'] = df.apply(lambda row: row['Listed Price'] * 1.1 if 'laminate' in row['Flooring'].lower() and row['Annual tax amount'] < 1e4 else row['Listed Price'], axis=1)  # axis=1 means that DataFrame's columns are passed as Series to the lambda function (axis=0 passes indexes (rows))
# Show the listed price and increased price of the first 5 houses with different values of the two columns
print(f"First 5 houses with different values of the 'Listed Price' and 'Increased Price' columns:\n"
      f"{df[df['Listed Price'] != df['Increased Price']][['Listed Price', 'Increased Price', 'Annual tax amount', 'Flooring']].head(5)}")

Number of cheap houses in Fresno: 132.
Number of unique values of the 'Flooring' column: 1347.
Number houses containing 'Laminate' in the 'Flooring' column: 400.
First 5 houses with different values of the 'Listed Price' and 'Increased Price' columns:
    Listed Price  Increased Price  Annual tax amount  \
10     1428000.0        1570800.0              904.0
13      565000.0         621500.0             5734.0
14      187500.0         206250.0             1586.0
17      888000.0         976800.0             3125.0
19      430000.0         473000.0             3416.0

                              Flooring
10                      Tile, Laminate
13                      Laminate, Tile
14            Laminate, Linoleum/Vinyl
17  Carpet, Laminate, Linoleum / Vinyl
19                            Laminate

The `concat` method can be used to add new columns or new rows.

In [28]:
# Add a new row to the dataframe
new_house = pd.DataFrame({'Id': max(df['Id'])+1, 'Sold Price': 1e6, 'Listed Price': 1.1e6, 'City': 'Fresno', 'Cooling': 'Central', 'Flooring': 'Laminate', 'Annual tax amount': 8000, 'Sold': False, 'Cheap House in Fresno': True, 'Increased Price': 1.1e6}, index=[max(df.index)+1])
df = pd.concat([df, new_house], axis=0)  # axis=0 means that we are concatenating rows
print(f"Last three houses:\n{df.tail(3)}")

Last three houses:
          Id            Address  Sold Price  \
47437  47437  9996 Fan Shell Ln    500000.0
47438  47438    4552 Howard Ave    760000.0
47439  47439                NaN   1000000.0

                                                 Summary          Type  \
47437  Great opportunity to live in the friendly gate...  SingleFamily
47438  This fantastic single story home is on a large...  SingleFamily
47439                                                NaN           NaN

       Year built  Heating      Cooling  \
47437      2017.0  Central  Central Air
47438      1948.0  Central  Central Air
47439         NaN      NaN      Central

                                           Parking     Lot  ...   Listed On  \
47437  Garage, Carport, Garage - Attached, Covered  5945.0  ...  2020-08-01
47438                            Garage - Attached  8250.0  ...  2020-11-02
47439                                          NaN     NaN  ...         NaN

       Listed Price  Last Sold On  Last Sold Price          City      Zip  \
47437      499888.0    2020-08-24    500000.000000     Elk Grove  95757.0
47438      748000.0    2017-06-30    807853.711152  Los Alamitos  90720.0
47439     1100000.0           NaN              NaN        Fresno      NaN

      State   Sold  Cheap House in Fresno  Increased Price
47437    CA   True                  False         549876.8
47438    CA   True                  False         748000.0
47439   NaN  False                   True        1100000.0

[3 rows x 44 columns]

## Removing data

We can remove entire columns and rows using the `drop` method. To remove a column, we must specify the column name and the axis (`axis=1`). To remove a row, we must specify the index and the axis (`axis=0`, by default). Multiple columns and rows could be removed. The `inplace` indicates whether we want to modify the `DataFrame` or return a new one (by default, `inplace=False`).

In [29]:
# remove the column 'Increased Price' and 'Cheap House in Fresno' without modifying the dataframe
new_df = df.drop(['Increased Price', 'Cheap House in Fresno'], axis=1, inplace=False)  # remove the column 'Increased Price' without modifying the dataframe
print(f"Do the 'Increased Price' and 'Cheap House in Fresno' columns exist in new_df? "
      f"{'Increased Price' in new_df.columns and 'Cheap House in Fresno' in new_df.columns}.")
# remove the two previous columns from df, using drop and del
df.drop('Increased Price', axis=1, inplace=True)
del df['Cheap House in Fresno']  # the del operator can also be used to remove columns
print(f"Do the 'Increased Price' and 'Cheap House in Fresno' columns still exist in df? "
      f"{'Increased Price' in df.columns and 'Cheap House in Fresno' in df.columns}.")
df.drop([max(df.index)], axis=0, inplace=True)  # remove the last row added above
print(f"Last three houses:\n{df.tail(3)}")

Do the 'Increased Price' and 'Cheap House in Fresno' columns exist in new_df? False.
Do the 'Increased Price' and 'Cheap House in Fresno' columns still exist in df? False.
Last three houses:
          Id                  Address  Sold Price  \
47436  47436  1338 N Orange Grove Ave   2300000.0
47437  47437        9996 Fan Shell Ln    500000.0
47438  47438          4552 Howard Ave    760000.0

                                                 Summary          Type  \
47436  Beautifully restored historic Colonial Revival...  SingleFamily
47437  Great opportunity to live in the friendly gate...  SingleFamily
47438  This fantastic single story home is on a large...  SingleFamily

       Year built  Heating      Cooling  \
47436      1919.0  Central  Central Air
47437      2017.0  Central  Central Air
47438      1948.0  Central  Central Air

                                           Parking     Lot  ...  \
47436                                     Driveway  6756.0  ...
47437  Garage, Carport, Garage - Attached, Covered  5945.0  ...
47438                            Garage - Attached  8250.0  ...

      Tax assessed value  Annual tax amount   Listed On  Listed Price  \
47436           578000.0             7211.0  2020-12-01     2295000.0
47437           484696.0             7627.0  2020-08-01      499888.0
47438            49671.0             1089.0  2020-11-02      748000.0

       Last Sold On  Last Sold Price          City      Zip  State  Sold
47436    2015-05-01     2.150000e+06   Los Angeles  90046.0     CA  True
47437    2020-08-24     5.000000e+05     Elk Grove  95757.0     CA  True
47438    2017-06-30     8.078537e+05  Los Alamitos  90720.0     CA  True

[3 rows x 42 columns]

`drop` can be used to remove rows based on conditions. To do that, we can filter the dataframe on the condition and then use the `index` attribute to select the rows to remove.

In [30]:
# get the rows with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central'
fresno_central_cooling_df = df[(df['City'] == 'Fresno') & (df['Cooling'] == 'Central')]
print(f"Number of houses with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central': {len(fresno_central_cooling_df)}.")
# remove the rows with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central'
df.drop(fresno_central_cooling_df.index, axis=0, inplace=True)
print(f"Number of houses with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central': {len(df[(df['City'] == 'Fresno') & (df['Cooling'] == 'Central')])}.")

Number of houses with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central': 95.
Number of houses with 'City' equal to 'Fresno' and 'Cooling' equal to 'Central': 0.

## Grouping and aggregating data

Pandas provides the `groupby` method to group data in a `DataFrame`. We can group data based on one or more columns. The result is a `DataFrameGroupBy` object that behaves like a dictionary, where the key is the group name and the value is a data frame with the group data (dictionary of `DataFrame`s).

In [31]:
# group the data by 'City' 
grouped_by_city = df.groupby('City')
for i, (name, group_df) in enumerate(grouped_by_city):
    print(f"Group {i+1}, city: '{name}', content:\n{group_df[['Id', 'Sold Price', 'City']].head(3)}")
    if i >= 9: break  # show only the first 10 groups

Group 1, city: 'Acampo', content:
          Id  Sold Price    City
29726  29726    750000.0  Acampo
30283  30283    515000.0  Acampo
30408  30408    300000.0  Acampo
Group 2, city: 'Acton', content:
          Id  Sold Price   City
36723  36723    425000.0  Acton
Group 3, city: 'Aguanga', content:
          Id  Sold Price     City
45690  45690    455000.0  Aguanga
47059  47059    290000.0  Aguanga
Group 4, city: 'Ahwahnee', content:
          Id  Sold Price      City
10441  10441    325000.0  Ahwahnee
14880  14880    240000.0  Ahwahnee
15436  15436    125000.0  Ahwahnee
Group 5, city: 'Alameda', content:
          Id  Sold Price     City
39445  39445    905000.0  Alameda
39895  39895    903000.0  Alameda
39905  39905    847000.0  Alameda
Group 6, city: 'Alamo', content:
          Id  Sold Price   City
46304  46304   2125000.0  Alamo
46395  46395   1835000.0  Alamo
46966  46966   2200000.0  Alamo
Group 7, city: 'Albany', content:
          Id  Sold Price    City
34522  34522    703000.0  Albany
34903  34903   1430000.0  Albany
35435  35435    595000.0  Albany
Group 8, city: 'Albion', content:
        Id  Sold Price    City
339    339    556000.0  Albion
3685  3685    210000.0  Albion
3976  3976    560000.0  Albion
Group 9, city: 'Alderpoint', content:
          Id  Sold Price        City
21136  21136    191000.0  Alderpoint
24057  24057   1400000.0  Alderpoint
24072  24072   1400000.0  Alderpoint
Group 10, city: 'Alhambra', content:
          Id  Sold Price      City
33017  33017    840990.0  Alhambra
33824  33824    750000.0  Alhambra
34445  34445    640000.0  Alhambra

The `groups` attribute of the `DataFrameGroupBy` object is a dictionary with the group name as the key and the indexes as the values.

In [32]:
print(f"Houses grouped by city:\n{grouped_by_city.groups}")  # show the groups; it is a dictionary with the group name as key and the indexes as values

Houses grouped by city:
{'Acampo': [29726, 30283, 30408, 31139, 31620, 31971, 31978, 31981, 32321, 33906, 35163, 35598, 35630, 36171, 37359, 39678, 39777, 42230, 44227, 44780, 45201, 46076, 46619, 47115, 47245], 'Acton': [36723], 'Aguanga': [45690, 47059], 'Ahwahnee': [10441, 14880, 15436, 17188, 22376, 22464, 23217, 23315, 23899, 24054, 24187, 25471, 26194, 27118, 27966, 31461, 31506, 35269, 38605, 40637, 47063], 'Alameda': [39445, 39895, 39905, 40303, 40436, 40887, 40891, 41030, 41110, 42728, 42729, 42982, 42999, 43197, 44157, 45175, 45446, 46065, 46152], 'Alamo': [46304, 46395, 46966], 'Albany': [34522, 34903, 35435, 35662, 36251, 36628, 36964, 37320, 37449, 37746, 38437, 39312, 39855, 40772, 42616, 42687, 42903, 43243, 45757], 'Albion': [339, 3685, 3976, 5851, 6519, 8522, 18712, 25648, 25813, 27288, 30265, 30287, 33403, 36791, 39876], 'Alderpoint': [21136, 24057, 24072, 32124, 33702, 34576], 'Alhambra': [33017, 33824, 34445, 34611, 34849, 34870, 35075, 35297, 35949, 36424, 37728, 37734, 38312, 38817, 39263, 39832, 41863, 42682, 42922, 42963, 43178, 43696, 43744, 44435, 45112, 45385, 45930, 46945], 'Alpaugh': [10804, 17269], 'Alpine': [38668], 'Alta': [5981, 7105, 9034, 10701, 11106, 11458, 13759, 15513, 17282, 18134, 19414, 19417, 20520, 23856, 28851, 29400, 32386, 33286, 34905, 35180, 36375, 38968, 44661], 'Alturas': [31346, 32406, 32525, 32707, 33693, 34052, 34497, 34741, 34750, 36029, 39233, 40103, 41773, 45868], 'Alviso': [4223, 12553, 19330, 26435, 29827, 33257, 35223], 'Amador City': [1706, 1745, 4659, 4778, 6199, 28956, 31488], 'American Canyon': [39377, 39763, 40102, 40223, 41710, 42846, 42855, 43043, 43592, 44084, 44235, 44452, 44611, 44744, 44753, 44775, 45527, 46126], 'Anaheim': [36805, 37472, 39786, 40667, 42601, 42615, 42890, 43136, 43736, 43952, 43981, 44066, 44109, 44305, 44460, 44503, 44570, 44581, 44794, 45496, 45923, 45988, 46113, 47401], 'Angels Camp': [30717, 31469, 32052, 32362, 32655, 33597, 33701, 33712, 36536, 38188, 38355, 40099, 42021, 42456, 43690, 43734, 44059, 44228, 46989], 'Angelus Oaks': [16976, 17157, 19536, 19665, 20037, 20173, 20186, 20311, 20467, 20519, 21536, 22450, 27659, 28556, 28965, 29146, 29498, 32976, 33328, 37514], 'Angwin': [2606, 5900, 8809, 9869, 10081, 11827, 14796, 16731, 17456, 19252, 22758, 23492, 23717, 24974, 26005, 26284, 31218, 31231, 31338, 31698, 34979, 39094], 'Annapolis': [12007, 29354, 34749], 'Anza': [47390], 'Apple Valley': [38404, 38902], 'Applegate': [6104, 6374, 8918, 9025, 9076, 9180, 9779, 13074, 13244, 14009, 15132, 17871, 19580, 19612, 22106, 22990, 23631, 23783, 26891, 27585, 28524, 28817, 30296, 31835, 34715, 36606, 37522, 39607, 46073], 'Aptos': [9, 59, 93, 192, 246, 361, 502, 550, 810, 939, 946, 1043, 1176, 1226, 1374, 1387, 1439, 1552, 1646, 1893, 1992, 2078, 2266, 2270, 2400, 2470, 2865, 2899, 2933, 3016, 3307, 3394, 3426, 3625, 3626, 3700, 3769, 3811, 3842, 4520, 4850, 5022, 5083, 5240, 5374, 5415, 5416, 5543, 5788, 5832, 5833, 5894, 5940, 5946, 6171, 6223, 6258, 6283, 6373, 6570, 6659, 6723, 6811, 6915, 6936, 7049, 7101, 7149, 7235, 7318, 7379, 7436, 7446, 7461, 7487, 7592, 7632, 7676, 7789, 8015, 8030, 8119, 8179, 8347, 8428, 8431, 8434, 8477, 8611, 8709, 8847, 8880, 8947, 9215, 9254, 9424, 9852, 9854, 9856, 9911, ...], 'Arbuckle': [8813, 10057, 10082, 10583, 10738, 11614, 11716, 13730, 13996, 15562, 17071, 17916, 20777, 21551, 21861, 22340, 22633, 23672, 27373, 31865, 32261, 32757, 40034, 41357, 44919, 45460], 'Arcata': [43553, 44517, 46012, 46235, 47102, 47217], 'Armona': [2919, 3617, 7122, 7800, 8091, 10326, 14478, 25777, 35866, 41226, 44322], 'Arnold': [39037], 'Aromas': [12062, 15119, 15646, 16882, 17498, 17724, 17866, 18380, 18459, 18557, 19861, 19925, 23443, 24791, 24935, 25506, 27535, 31776, 33948, 36331, 37035, 38345, 38905, 41512, 42487, 44275, 44987], 'Artesia': [25357, 26142, 26287, 26894, 27866, 29872, 30144, 32036, 32150, 33518, 34542, 35258, 35262, 36485, 36707, 37526, 37983, 40350, 40725, 41532, 41908, 42694, 42990, 45746], 'Arvin': [15450, 17807, 18100, 18573, 20705, 23235, 26922, 28724, 30244, 32134, 36065, 37938, 44249], 'Atascadero': [43844], 'Atherton': [153, 270, 1605, 1879, 2347, 2359, 2536, 2729, 2825, 4184, 4458, 4975, 5220, 5445, 6105, 6116, 6267, 8462, 9915, 10351, 10521, 11163, 11530, 11590, 11906, 12298, 15072, 15208, 16722, 16788, 17224, 17774, 19278, 19380, 19590, 19767, 20229, 20332, 20880, 22933, 23078, 23316, 23757, 23847, 24677, 25585, 25664, 25693, 25729, 25883, 26963, 27144, 28138, 28730, 29303, 29973, 31269, 31415, 31602, 31661, 31896, 31907, 32289, 32440, 32598, 33196, 33832, 34471, 34835, 35106, 35325, 35725, 36852, 36923, 37609, 38566, 38699, 38985, 41585, 41777, 41849, 42010, 43803, 44181, 44419], 'Atwater': [46086, 47267], 'Auberry': [27366, 27479, 28807, 29761, 29970, 29981, 30291, 30511, 30870, 32400, 32484, 33530, 33820, 33947, 36797, 38069, 38275, 39549, 40497, 40786], 'Auburn': [42691], 'Avalon': [5251, 5310, 5364, 5536, 7802, 11175, 11798, 12276, 14346, 20660, 21043, 22470, 22977, 24627, 25108, 25164, 26720, 28058, 31092, 31141, 37500, 40049, 45071, 45624], 'Avenal': [10579, 11836, 13198, 15717, 18154, 18229, 20836, 21524, 22509, 25571, 28559, 31438, 39547, 39731, 42082, 46951], 'Avery': [35422, 40913, 40963], 'Avila Beach': [27521, 29129, 29264, 29732, 30379, 30703, 30723, 31660, 31686, 33924, 34490, 35280, 35346, 35361, 35414, 35804, 36854, 37049, 37810, 38528, 41638, 42569, 43910], 'Badger': [7100, 12415, 13557, 20206], 'Baker': [26983], 'Bakersfield': [36523, 36586, 36642, 38277, 39573, 40346, 41291, 42172, 42237, 42646, 43186, 43328, 43508, 43630, 44748, 45037, 45324, 45532, 46651, 46946], 'Ballico': [10667, 18763, 34020], 'Bangor': [2897, 5577, 9047, 9242, 10281, 11453, 11555, 14243, 16950, 16964, 25402, 26120, 33244, 36274, 37644, 40765, 41037, 42791, 44242], 'Bard': [27160], 'Bass Lake': [26084, 26127, 26674, 26959, 27786, 30145, 30370, 30510, 30602, 30957, 31210, 32974, 34941, 36655, 36906, 36914, 37465, 39896, 40506, 40798, 41351, 41574, 42669, 43883, 45675, 46950], 'Bayside': [5157, 5365, 6339, 6614, 10077, 16409, 17491, 22897, 25505, 26205, 26694, 29829, 30332, 30442, 31184, 32894, 34824, 42284], 'Beale Afb': [18376, 21137, 22329, 38180], 'Beaumont': [37908], 'Beckwourth': [2098, 10477, 19570, 21544, 26890], 'Bell Gardens': [123, 388, 467, 484, 1062, 1434, 1510, 1567, 1905, 2000, 2104, 2250, 2405, 2835, 3251, 3562, 3593, 3748, 3986, 3993, 4539, 5493, 5666, 6278, 6447, 6462, 6719, 39038, 39159, 39815, 40513, 42109, 42143, 42430, 42567, 43181, 44476, 44786, 46455], 'Bella Vista': [3638, 4111, 5723, 5821, 6081, 7999, 8132, 9728, 14231, 21178, 22312, 24038, 27727, 29582, 32721, 36450, 36861, 44934], 'Belmont': [233, 307, 340, 359, 584, 1163, 1825, 1894, 2505, 2992, 3161, 3183, 3342, 3620, 3715, 3852, 3853, 3889, 3985, 4150, 4320, 4498, 4672, 4899, 4917, 4983, 5046, 5330, 5746, 6185, 6640, 6745, 6749, 6989, 7381, 7430, 7432, 7935, 8041, 8065, 8113, 8446, 8887, 9060, 9183, 9253, 9312, 9336, 9361, 9545, 9753, 9947, 9964, 10123, 10191, 10462, 10491, 10508, 10835, 11036, 12323, 12391, 12670, 12801, 13455, 13507, 13875, 14453, 14706, 14964, 15555, 15581, 15610, 15744, 15829, 15833, 16001, 16037, 16130, 16200, 16240, 16680, 16734, 17196, 17545, 17633, 17662, 17831, 17838, 17939, 18070, 18181, 18729, 19056, 19302, 19432, 19523, 19932, 20601, 21099, ...], 'Belvedere Tiburon': [40183, 41187, 41290, 41586, 43100, 43468, 43622, 43657, 43806, 43864, 44116, 44438, 44466, 44525, 45336, 45590, 46025, 46325, 46328, 46341], 'Ben Lomond': [117, 120, 2678, 2712, 2782, 3422, 5357, 5492, 6067, 6290, 6439, 6453, 6930, 7298, 7420, 7611, 8439, 8770, 8986, 9586, 9645, 10223, 10811, 10876, 11410, 12719, 13012, 13179, 13282, 13333, 13343, 13408, 13899, 14336, 14908, 15087, 15747, 15994, 16092, 16810, 17376, 17854, 18823, 19333, 21030, 21314, 24624, 25053, 25732, 25885, 26076, 26631, 26785, 27633, 29522, 29643, 30161, 31133, 33362, 33744, 34369, 38164, 38776, 39831, 43435, 44992, 46832], 'Benton': [12286, 25154, 44856], 'Berkeley': [4587, 8802, 8937, 10054, 10104, 11959, 12039, 13973, 14826, 15168, 15632, 16609, 17322, 17443, 17505, 18495, 19396, 19781, 20428, 22174, 22408, 22618, 23417, 23526, 23962, 24352, 24354, 25494, 25577, 25695, 26805, 29078, 30327, 30411, 30521, 30812, 32189, 32720, 32759, 32771, 32843, 33133, 33185, 33491, 33493, 33604, 33787, 33992, 34241, 34570, 34685, 34730, 34900, 35000, 35006, 35072, 35275, 35364, 35372, 35532, 35587, 35635, 36026, 36054, 36114, 36221, 36386, 36696, 36775, 36792, 36813, 36848, 36908, 36966, 36971, 37147, 37596, 37678, 37804, 37866, 38305, 38480, 38522, 38631, 38691, 38744, 38899, 39062, 39227, 39288, 39329, 39440, 39481, 39493, 39508, 39531, 39712, 39769, 39779, 39806, ...], 'Berry Creek': [18268, 18295, 19275, 19416, 19546, 20663, 31613, 33225, 40288, 45494, 46099], 'Bethel Island': [18255, 18800, 19277, 19356, 21534, 22831, 22964, 23232, 24603, 26356, 26823, 29975, 30342, 31783, 37179, 41007], 'Beverly Hills': [28, 43, 94, 104, 255, 298, 374, 379, 474, 478, 655, 693, 726, 990, 1057, 1141, 1229, 1236, 1355, 1414, 1485, 1500, 1602, 1622, 1947, 1979, 2033, 2101, 2113, 2168, 2225, 2279, 2293, 2426, 2428, 2457, 2502, 2612, 2619, 2638, 2675, 2677, 2733, 2762, 2833, 2983, 3229, 3257, 3729, 3749, 3762, 3817, 3833, 3929, 3934, 3940, 3983, 3990, 3995, 4121, 4136, 4160, 4206, 4229, 4330, 4509, 4616, 4884, 4929, 5082, 5145, 5380, 5477, 5638, 5700, 5707, 6021, 6037, 6123, 6241, 6270, 6350, 6354, 6382, 6521, 6550, 6852, 6864, 7067, 7220, 7612, 7694, 7739, 7792, 7812, 8124, 8135, 8178, 8258, 8562, ...], 'Bieber': [3802, 6120, 10891], 'Big Bar': [23514, 41097], 'Big Bend': [18330, 21397], 'Big Creek': [18698], 'Big Pine': [9809, 10495, 12048, 16201, 17344, 20732, 26058, 27591, 28464, 28748, 30323, 42064], 'Big Sur': [472, 503, 1446, 6660, 8442, 9838, 15657, 15750, 17516, 17639, 19451, 24103, 29807, 30054, 30182, 37192], 'Biggs': [9582, 10769, 10904, 10968, 12482, 17132, 18003, 18803, 19339, 20879, 21848, 23079, 23360, 23853, 26452, 28339, 31277, 40641, 43239, 44422, 45069, 47216], 'Biola': [31070], 'Birds Landing': [34748], 'Bishop': [39673, 39849, 40033, 40864, 40868, 41456, 42865, 43269, 44487, 44874, 45308], 'Blairsden Graeagle': [38611, 39923, 40494, 40780, 41084, 41766, 42129, 42747, 43731, 44962, 45693, 45826, 46263, 46279], 'Bloomington': [44441, 44459, 44797, 44830, 44908, 45353, 45436, 46424, 46538, 46709], 'Blue Lake': [3407, 3868, 18407, 18636, 19349, 19771, 20086, 20394, 20514, 20852, 21176, 22419, 25321, 25651, 28900], 'Blythe': [47434], 'Bodega': [12622, 22723, 22789], 'Bodega Bay': [24679, 24723, 24867, 26049, 26215, 26413, 27088, 27397, 27512, 27632, 28392, 29363, 29554, 29730, 32811, 32945, 33999, 36032, 36165, 36265, 36310, 36604, 36738, 37610, 39215, 41005, 42132, 45397], 'Bodfish': [13079, 15073, 15218, 16017, 17231, 18217, 19256, 20135, 22148, 22606, 27619, 28513, 29218, 29240, 31643, 45315], 'Bolinas': [458, 1907, 3698, 4412, 4491, 4724, 5460, 12425, 12764, 13044, 14583, 20083, 20944, 22378, 22998, 25637, 28737, 38840, 40292], 'Bonita': [41439, 41620, 42384, 44340, 44836, 45546, 47340], 'Bonsall': [38613, 38861, 39676, 40314, 40408, 42106, 42312, 42746, 43752, 45491, 46624, 46626, 46870], 'Boonville': [18855, 23207, 40217], 'Boron': [22740, 24267, 28358, 32821, 44583], 'Borrego Springs': [35754, 38575], 'Boulder Creek': [274, 512, 1155, 1223, 1367, 1436, 1492, 1566, 1892, 2277, 2519, 3466, 3493, 3708, 3900, 4177, 4332, 4406, 4716, 5030, 5812, 5935, 5972, 7050, 7870, 8516, 8528, 8991, 9111, 9554, 9808, 9822, 10347, 10437, 10730, 10780, 10789, 10915, 10960, 11128, 11193, 11330, 11396, 11415, 11571, 11648, 11702, 11751, 11839, 12064, 12220, 12245, 12462, 12582, 12626, 12855, 12902, 13217, 13404, 13468, 13497, 13720, 13822, 14099, 14509, 14776, 14949, 15019, 15129, 15322, 15412, 15464, 15659, 15719, 15783, 16044, 16260, 16400, 16613, 16854, 17332, 17533, 17876, 17926, 18044, 18663, 18821, 19148, 19391, 19436, 19601, 19760, 19898, 21057, 21472, 23255, 24079, 25268, 25611, 25882, ...], 'Boulevard': [19909, 21007, 22206, 22260, 23989, 24506, 25170, 25640, 26382, 30008, 30326, 32927, 35638, 36388, 42656, 44076], 'Bradley': [28017, 29466, 29524, 30564, 31743, 31752, 35791, 39219, 41261, 42463, 42563, 43200, 44086, 46158], 'Branscomb': [4802], 'Brawley': [39450, 39882, 40253, 40694, 40702, 41531, 41642, 42690, 42933, 43960, 44010, 45852, 45967], 'Brea': [28140, 28182, 29757, 30796, 32080, 32465, 32494, 33662, 33796, 36457, 38498, 38534, 40358, 40412, 40784, 43501, 43861, 45199], 'Bridgeport': [674, 868, 1407, 7956, 12716, 16621, 16740, 19486, 21461, 21579, 22129, 23469, 29046, 37760, 44558], 'Bridgeville': [4035, 24047, 29454, 33193, 35409, 39714, 45894, 46038], 'Brisbane': [1264, 1522, 1658, 1717, 2628, 3241, 3298, 4361, 4636, 5066, 5604, 6129, 6499, 6545, 8087, 8251, 8390, 8896, 9316, 10378, 12961, 13187, 13221, 13917, 14688, 14962, 15437, 15677, 19800, 19818, 20435, 22886, 25179, 25690, 29758, 31900, 32115, 34147, 34198, 34264, 35478, 35649, 36038, 36818, 40090, 41588, 43309, 44471, 44561, 45692, 46106, 47136], 'Brookdale': [549, 1202, 1933, 8550, 9740, 12802, 14088, 38809, 40853], 'Browns Valley': [20047, 20197, 21016, 22271, 22671, 23795, 23937, 23978, 24248, 25026, 27986, 29023, 29254, 29483, 32845, 32965, 33167, 33797, 33900, 34208, 36045, 38916, 39522, 43177, 43691], 'Brownsville': [1612, 1675, 2233, 3081, 4946, 5228, 8563, 9760, 9909, 10284, 18558, 23375, 26767, 27435, 28874, 34140, 45538], 'Buellton': [27250, 27900, 28037, 28461, 28738, 29601, 29689, 30101, 30200, 31138, 31569, 33544, 33598, 34286, 34859, 35224, 35446, 35938, 38019, 41473, 42604, 42617, 42634, 43540, 45830, 46211, 47073], 'Buena Park': [45438, 45600, 45686, 46454, 46668, 46703], ...}

`DataFrameGroupBy` many aggregation functions, such as `size`, `sum`, `mean`, `min`, `max`, `std`, `count` and `agg`. We can use these functions to aggregate data in each group. They return a `DataFrame` with the group name as the index and the aggregated value(s) as the column(s).

In [33]:
print(f"Number of houses in each city:\n{grouped_by_city.size()}")  # size computes the number of elements (rows) in each group

Number of houses in each city:
City
Acampo        25
Acton          1
Aguanga        2
Ahwahnee      21
Alameda       19
              ..
Yountville    32
Yreka         12
Yuba City     30
Zamora         1
Zenia          2
Length: 929, dtype: int64

If we use the `[]` operator in a `DataFrameGroupBy` object, we can select a column or multiple columns instead of all of them. In this way, we can aggregate only the selected columns.

In [34]:
# first, select the 'Sold Price' column and then apply the aggregation function
print(f"Average 'Sold Price' in each city:\n{grouped_by_city['Sold Price'].mean()}")

Average 'Sold Price' in each city:
City
Acampo        6.530200e+05
Acton         4.250000e+05
Aguanga       3.725000e+05
Ahwahnee      3.495476e+05
Alameda       9.791842e+05
                  ...
Yountville    1.045266e+06
Yreka         2.476458e+05
Yuba City     3.798433e+05
Zamora        8.000000e+05
Zenia         5.800000e+05
Name: Sold Price, Length: 929, dtype: float64

Any aggregation can be performed using the `apply` method, passing a lambda function that will be applied to each group. The lambda function will receive the grouped data as a `DataFrame`.

In [35]:
# calculate the average sold price group by cities
average_sold_price = grouped_by_city['Sold Price'].mean()
# add a new column with the difference between the 'Sold Price' and the average 'Sold Price' in each city
df['Sold Price Difference'] = df.apply(lambda row: row['Sold Price'] - average_sold_price[row['City']], axis=1)
# print the first 10 houses with the new column 'Sold Price Difference'
print(f"First 10 houses with the new column 'Sold Price Difference':\n{df[['Id', 'Sold Price', 'City', 'Sold Price Difference']].head(10)}")

First 10 houses with the new column 'Sold Price Difference':
   Id  Sold Price           City  Sold Price Difference
0   0   3825000.0      Los Altos           63519.587413
1   1    505000.0    Los Angeles         -849864.209936
2   2    140000.0     Strawberry         -277633.333333
3   3   1775000.0    Culver City          643024.834975
4   4   1175000.0        Creston          432583.333333
5   5    221000.0       Stockton         -124942.307692
6   6   1589000.0    Los Angeles          234135.790064
7   7    480000.0   Taylorsville          181318.181818
8   8   1590000.0  San Francisco         -106127.912545
9   9   1275000.0          Aptos          135424.693182

# âœ¨ Activity âœ¨
Perform the following tasks:
1. Count the number of houses sold for more than 1M USD and with any type of cooling (not empty and not 'None').
2. Find the average 'Sold Price' houses with more than 3 Bedrooms and Bathrooms that were built after 1990.
3. Create a new column, 'Price per Square Foot'. Then, show the average price per square foot of the houses.
4. Calculate the average 'Tax assessed value' for houses in each State and add its value to a new 'Average Tax assessed value' column. Print the 'Id', 'State', 'Tax assessed value', and 'Average Tax assessed value' of the first 3 houses in each state.

In [36]:
# Write your code here

# SOLUTION:

# 1. Count the number of houses sold for more than 1M USD and with any type of cooling (not empty and not 'None')
sold_more_than_1M = df['Sold Price'] > 1e6
cooling_not_empty = ~(df['Cooling'].isnull()) & df['Cooling'] != 'None'
sold_more_than_1M_and_cooling = df[sold_more_than_1M & cooling_not_empty]
print(f"Number of houses sold for more than 1M USD and with any type of cooling: {len(sold_more_than_1M_and_cooling)}.")


# 2. Find the average 'Sold Price' houses with more than 3 Bedrooms and Bathrooms that were built after 1990.
built_after_1990 = df['Year built'] > 1990
# Check that 'Bedrooms' value is numeric and then compare it with 3
more_than_3_bedrooms = df['Bedrooms'].apply(lambda x: str(x).isnumeric() and int(x) > 3)
more_than_3_bathrooms = df['Bathrooms'] > 3
average_sold_price = df[built_after_1990 & more_than_3_bedrooms & more_than_3_bathrooms]['Sold Price'].mean()
print(f"Average 'Sold Price' of houses with more than 3 Bedrooms and Bathrooms that were built after 1990: {average_sold_price:.2f}.")


# 3. Create a new column, 'Price per Square Foot'. Then, show the average price per square foot of the houses.
df['Price per Square Foot'] = df['Sold Price'] / df['Total interior livable area']
print(f"First 5 houses with the new column 'Price per Square Foot':\n{df[['Id', 'Sold Price', 'Total interior livable area', 'Price per Square Foot']].head(5)}")
print(f"Average price per square foot of the houses: {df['Price per Square Foot'].mean():.2f}")

# 4. Calculate the average 'Tax assessed value' for houses in each State and add its value to a new 'Average Tax assessed value' column. Print the 'Id', 'State', 'Tax assessed value', and 'Average Tax assessed value' of the first 3 houses in each state.
average_tax_accessed_value = df.groupby('State')['Tax assessed value'].mean()
df['Average Tax assessed value'] = df['State'].apply(lambda x: average_tax_accessed_value[x])
for state in df['State'].unique():
    print(f"First 3 houses with the new column 'Average Tax assessed value' at the State of '{state}':\n"
          f"{df[df['State'] == state][['Id', 'State', 'Tax assessed value', 'Average Tax assessed value']].head(3)}")

Number of houses sold for more than 1M USD and with any type of cooling: 22469.
Average 'Sold Price' of houses with more than 3 Bedrooms and Bathrooms that were built after 1990: 3552371.33.
First 5 houses with the new column 'Price per Square Foot':
   Id  Sold Price  Total interior livable area  Price per Square Foot
0   0   3825000.0                     1.000000           3.825000e+06
1   1    505000.0                   872.000000           5.791284e+02
2   2    140000.0                  1152.000000           1.215278e+02
3   3   1775000.0                  2612.000000           6.795559e+02
4   4   1175000.0                  5774.587091           2.034778e+02
Average price per square foot of the houses: 1172.90
First 3 houses with the new column 'Average Tax assessed value' at the State of 'CA':
   Id State  Tax assessed value  Average Tax assessed value
0   0    CA            886486.0               792557.604723
1   1    CA            505000.0               792557.604723
2   2    CA             49627.0               792557.604723
First 3 houses with the new column 'Average Tax assessed value' at the State of 'AZ':
      Id State  Tax assessed value  Average Tax assessed value
188  188    AZ       184146.000000               258044.152112
209  209    AZ       786311.756092               258044.152112
396  396    AZ       210328.000000               258044.152112